In [18]:
def lesser_of_two_evens(a,b):
    
    if a%2==0 and b%2==0:
        return a if a < b else b
    
    else:
        return a if a > b else b

In [21]:
lesser_of_two_evens(7,10)

10

In [29]:
def animal_crackers(text):
    word_list=text.split()
    print(word_list)
    word1=word_list[0][0]
    word2=word_list[1][0]
    return word1==word2

In [31]:
animal_crackers('Levelheaded Llama')

['Levelheaded', 'Llama']

True

In [32]:
animal_crackers('Crazy Kangaroo')

['Crazy', 'Kangaroo']

False

In [43]:
def makes_twenty(n1,n2):
    return (n1+n2)==20 or n1==20 or n2==20

In [46]:
makes_twenty(20,0)

True

In [51]:
def old_macdonald(name):
    word1=name[0]
    word2=name[3]
    inbetween=name[1:3]
    rest=name[4:]
    return word1.upper()+inbetween+word2.upper()+rest

In [53]:
old_macdonald('macdonald')

'MacDonald'

In [64]:
def master_yoda(text):
    wordlist=text.split()
    reverseword=wordlist[::-1]
    return ' '.join(reverseword)

In [65]:
master_yoda('I am Hungry')

'Hungry am I'

In [60]:
mylist=['a','b','c']

In [61]:
"--".join(mylist)

'a--b--c'

In [68]:
def almost_there(n):
    return (abs(100-n)<=10) or (abs(200-n)<=10)

In [73]:
almost_there(201)

True

In [103]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2]==[3,3]:
            return True
        
        
        
    return False

In [105]:
has_33([1,1,3,3])

True

In [113]:
def paper_doll(text):
    
    result=''
    
    for char in text:
        result += char*3
        
    return result

In [115]:
paper_doll('Hello')

'HHHeeellllllooo'

In [182]:
def blackjack(a,b,c):
    sum= a+b+c
    
    
    if sum<=21:
       
        return sum
    elif (a==11 or b==11 or c==11) and sum<=31:
        return sum-10
    else:
        return "BUST"

In [185]:
blackjack(11,1,12)

14

In [ ]:
def summer_69(arr):
    
    total=0
    add=True
    
    for num in arr:
        while add:
            if num!=6:
                total=total+num
                break
            else:
                add=False
        while not add:        
            if num!=9:
                break
            else:
                add=True
    return total

In [202]:
summer_69([1,6,1,7,8,9,2])

3

In [197]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [203]:
summer_69([1,2,3,6,7])

6

In [204]:
def spy_game(nums):
    code=[0,0,7,'x']
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code)==1

In [206]:
spy_game([1,2,3,7,0,0])

False

In [265]:
def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:  
        return 0
    while x <= num:
        for y in range(3,x,2):  
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    
    print(primes)
    return len(primes)

In [266]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [256]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [259]:
print_big('d')

****
*   *
*   *
*   *
****